<!DOCTYPE html>
<html>
<head>

</head>
<body>
	         <h2>Heute Abend, heute Nacht</h2>
	<p>In den Abendstunden und über Nacht muss man vor allem nach Süden zu mit etwas Schneefall rechnen. Es wird wieder klirrend kalt, die Temperaturen sinken auf minus 14 bis minus 20 Grad.</p><h2>Morgen, Samstag</h2>
	<p>Es bleibt eiskalt. Die Wolken überwiegen und zeitweise kann es leicht schneien. Höchstens vorübergehend dringt die Sonne durch. Der bitterkalte Nordwind legt zu und wird lebhaft bis kräftig. Die Temperaturen gehen noch etwas zurück, die Höchstwerte liegen nur noch bei minus 12 bis minus 7 Grad.</p><h2>Sonntag</h2>
	<p>Es bleibt extrem kalt bei maximal minus 11 bis minus 6 Grad, außerdem weht nach wie vor sehr lebhafter Nordwind. Dazu wechselnd bis stark bewölkt, vorübergehend Sonne und ab und zu Schneefall.</p><h2>Der weitere Trend</h2>
	<p>Am Montag wechselnd bis stark bewölkt, da und dort ein paar Schneeflocken. Weiterhin durchwegs frostig bei Höchstwerten zwischen minus 11 und minus 6 Grad.</p>
	<p>Am Dienstag starker Nordwestwind und zeitweise Schneefall bei minus 11 bis minus 7 Grad.</p>
	<p>Am Mittwoch und am Donnerstag zeitweise sonnig, nicht mehr so windig aber weiterhin sehr kalt bei Höchsttemperaturen zwischen minus 10 und minus 5 Grad.</p>
	         
	         
	         
	         
	         
	         
	         
	         <div class="webcamLinks">
	         
	         </div>
	         
	         
	
	         <!--  Footer -->
	         <div class="storyMeta">
	            <p class="date"><span class="offscreen">Publiziert am </span>03.02.2012</p>
	            <p class="toplink"><a href="#top">Seitenanfang</a></p>
	         </div>
	      
	      </div>
</body>
</html>